extends layouts/main-layout.pug

block primaryNavBar
    include layouts/primaryNavBarAll.pug

block secondaryNavBar
    include layouts/secondaryNavBar.pug
        block secondaryMenu
            include layouts/secondaryMenuReport.pug

block content
    .container.my-3.w-100
        .row.w-100.mb-4
            .list-group.w-100#pageItemsContainer
                -var No = 1
                if path === 'dom'
                    each report in reports.data
                        a(href=`../dom?id=${report.MISBroj}`).list-group-item.list-group-item-action.d-flex.justify-content-between
                            span.w-25.px-2=`${No}.`
                            span.w-25.px-2=`MIS Broj: ${report.MISBroj}`
                            span.w-25.px-2=`Nalog: ${report.radniNalog}` 
                            span.w-25.px-2=report.proizvod.proizvod
                            span.w-25.text-right.px-2=`${report.duzina}m`
                        - No++   
                else 
                    each report in reports.data
                        a(href=`../exp?id=${report._id}`).list-group-item.list-group-item-action.d-flex.justify-content-between
                            span.w-25.px-2=`${No}.`
                            span.w-25.px-2=report.proizvod.proizvod
                            span.w-25.px-2=`Ukupna duzina: ${report.ukupnaDuz}m`
                            -var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
                            span.w-25.px-2=`Kreiran: ${report.createdAt.toLocaleString('sr-sr', options)}`
                            //- span.w-25.px-2=`Nalog: ${report.radniNalog}` 
                        - No++     
        nav.pb-3#paginationElem
            ul.pagination.justify-content-center
                li.page-item(class='disabled')
                    button.page-link(data-url=`/api/v2/reports/dom/json?page=1`)#btnFirstPage Prva

                li.page-item.mx-2
                    |   . . .        

                li.page-item.active
                    span.page-link 
                        |   1
                        span.sr-only (current)
                //- li.page-item
                //-         button.page-link(data-url=`#`) 1

                if (reports.pagination.next.page)         
                    li.page-item
                        button.page-link(data-url=`/api/v2/reports/dom/json?page=2`)#btnMiddlePage 2

                if (reports.lastPage >= 3)         
                    li.page-item
                        button.page-link(data-url=`/api/v2/reports/dom/json?page=3`)#btnNextPage 3

                li.page-item.mx-2
                    |   . . .   

                li.page-item
                    button.page-link(data-url=`/api/v2/reports/dom/json?page=${reports.lastPage}`)#btnLastPage Poslednja
    
block footer    
    include layouts/fixed_footer.pug