extends layouts/main-layout.pug

block primaryNavBar
    include layouts/primaryNavBarAll.pug

block secondaryNavBar
    include layouts/secondaryNavBar.pug    
    
        block secondaryMenu
            include layouts/secondaryMenuProduct.pug

        block language 
            ul.navbar-nav.ml-auto
                li.nav-item.mr-2
                    if lang === 'eng'
                        a(href='/api/v2/reports/dom?lang=ser').btn.btn-outline-info Promeni jezik 
                            img(src='/img/sr.png', alt='sr').icon
                    else
                        a(href='/api/v2/reports/dom?lang=eng').btn.btn-outline-info Promeni jezik 
                            img(src='/img/en.png', alt='en').icon 

block content

    // setovanje readonly/disabled atributa input elemenata
    -var readonlyStatus = report ? true : false
    
    section#report.mt-2.mb-4
        .container.bg-light
            //- prvi red
            .row.align-items-center.py-3.footer
                .col-3.text-center KONTROLA KVALITETA
                    p QS 06.10.03.00/03
                .col-6.text-center.lead.font-weight-normal TF Kable Fabrika kablova Zaječar D.O.O.
                .col-3.text-center Datum: 
                    span#date 

            hr.mb-5
            //- drugi red
            .row.mb-5.pb-5
                .col.d-flex.wrap-nowrap.align-items-center.justify-content-center
                    if lang === 'eng'
                        h2.text-center.mr-4 Routine&nbsp;Test&nbsp;Report
                    else
                        h2.text-center.mr-4 Izveštaj o rutinskom ispitivanju

                    input(type='text', style='width:3rem', value='1').form-control#ordinalNumber
                    p.m-0 
                        | &nbsp;/&nbsp;
                        span.year 

            .row
                .col-10.mx-auto
                    form.border.border-dark.p-3#domesticForm
                        
                        
                          
                        .row.font-weight-bold.mb-3.d-print-none     
                            .col-lg-6
                                .row.align-items-center
                                    .col-4 
                                        label Šifra :
                                    .col-8
                                        input(type='number' placeholder='Unesi 7-cifreni broj' value=report ? report.sifra : '' readonly=readonlyStatus).form-control.font-weight-bold#productCode
                                        small Error message 
                        //- cetvrti red
                        .row.font-weight-bold.mb-2
                            .col-lg-6
                                .row
                                    if lang === 'eng'
                                        .col-4 Cable Type
                                    else   
                                        .col-4 Tip Kabla 
                                    .col-7
                                        p#cableType.ml-2=report ? report.proizvod.proizvod : '/'
                                    
                            .col-lg-6
                                .row
                                    if lang === 'eng'
                                        .col-4 Rated Voltage
                                    else   
                                        .col-4 Nazivni Napon
                                    
                                    .col-4
                                        p#ratedVoltage.ml-1=report ? report.proizvod.napon : '/'

                        //- peti red 
                        .row.font-weight-bold.mb-2.stampa
                            .col-lg-6
                                .form-group.row.align-items-center
                                    .col-4
                                        if lang === 'eng'
                                            label(for='workOrder') Work Order:
                                        else   
                                            label(for='workOrder') Radni nalog:
                                         
                                    .col-8
                                        input(type='number', placeholder='Unesi 8-cifreni broj' value=report ? report.radniNalog : '' readonly=readonlyStatus).form-control.font-weight-bold#workOrder
                                        small Error message
                                    
                            .col-lg-6
                                .form-group.row.align-items-center
                                    .col-4
                                        if lang === 'eng'
                                            label(for='num') Drum Number:
                                        else   
                                            label(for='num') Broj kalema:
                                        
                                    .col-4
                                        input(type='text', placeholder='7-cifreni broj' value=report ? report.MISBroj : '' readonly=readonlyStatus).form-control.font-weight-bold#misNumber
                                        small Error message
                                    .col-4
                                        select.form-control.font-weight-bold#drumSize(disabled=readonlyStatus)
                                            option(value='TK06T' selected= report&&report.velDob==='TK06T' ? true : false) TK06T
                                            option(value='TK07T') TK07T
                                            option(value='TK08T') TK08T
                                            option(value='TK08AT') TK08AT
                                            option(value='TK090T') TK090T
                                            option(value='TK100T') TK100T
                                            option(value='TK10AT' selected= report&&report.velDob==='TK10AT' ? true : false) TK10AT
                                            option(value='TK120T') TK120T
                                            option(value='TK140T') TK140T
                                            option(value='TK160T') TK160T
                                            option(value='TK180T') TK180T
                                            option(value='TK200T') TK200T
                                            option(value='TK20AT') TK20AT
                                            option(value='TK210T') TK210T
                                            option(value='TK220T') TK220T
                                            option(value='TK240T') TK240T
                                            option(value='pallet') Pallet
                        //- sesti red
                        .row.font-weight-bold.mb-2.stampa
                            .col-lg-6
                                .form-group.row.align-items-center
                                    .col-4
                                        if lang === 'eng'
                                            label(for='length') Cable Length:
                                        else   
                                            label(for='length') Dužina:                                        

                                    .input-group.col-5
                                        input(type='number' value=report ? report.duzina : '' readonly=readonlyStatus).form-control.text-right.font-weight-bold#length
                                        .input-group-append
                                            span.input-group-text m
                                        small Error message
                            .col-lg-6
                                .form-group.row.align-items-center
                                    .col-4
                                        if lang === 'eng'
                                            label(for='weight') Weight (bruto/neto):
                                        else   
                                            label(for='weight') Težina (bruto/neto):                                       

                                    .input-group.col-4
                                        input(type='number' value=report ? report.bruto : '' readonly=readonlyStatus).form-control.text-right.font-weight-bold.pr-2#bruto
                                        .input-group-append
                                            span.input-group-text kg
                                        small Error message

                                    .input-group.col-4
                                        input(type='number' value=report ? report.neto : '' readonly=readonlyStatus).form-control.text-right.font-weight-bold.pr-2#neto
                                        .input-group-append
                                            span.input-group-text kg
                                        small Error message
                        //- sedmi red
                        .row.font-weight-bold
                            .col-6
                                .row
                                    if lang === 'eng'
                                        .col-4 Norm:
                                    else   
                                        .col-4 Standard: 
                                                             
                                    .col-8
                                        p.ml-2#standard=report ? report.proizvod.propis : '/'

                            .col-6
                                .row
                                    if lang === 'eng'
                                        .col-4 Color:
                                    else   
                                        .col-4 Boja: 
                                    .col-8
                                        p.ml-2#productColor=report ? report.proizvod.boja : '/'
                        //- osmi red
                        .text-center.py-2.d-print-none
                            input(type='hidden', name='_csrf', value=csrfToken)
                            button(type='submit').btn.btn-warning.btn-lg.m-0.mr-sm-4#saveAsPDF Sačuvaj PDF
                            input(type='reset', value='Obriši sva polja').btn.btn-warning.btn-lg 

            include layouts/testsTable.pug

            .row.mt-4.sign
                .col-4.ml-auto
                    .row
                        include layouts/documentSign.pug
block footer
    include layouts/footer.pug