extends layouts/main-layout.pug

block primaryNavBar
    include layouts/primaryNavBarAuth.pug

        block link
            a.nav-link(href='../auth/register') REGISTRACIJA

block content
    section.h-75
        .container.h-100
            .row.h-100
                .col-md-6.m-auto
                    .card
                        .card-header
                            h4
                                i.far.fa-user.mr-2
                                | Prijava
                        .card-body
                            form#authForm(action='/api/v2/auth/login', method='POST', novalidate)
                                .form-group
                                    label(for='email') Email
                                    input#email.form-control.mt-1.mb-1(type='email', name='email', value=oldInput.email, placeholder='example@mail.com', autofocus=true)

                                .form-group
                                    label(for='password') Šifra
                                    input#password.form-control.mt-1.mb-1(type='password', name='password', value=oldInput.password, placeholder='*******')

                                a.text-muted(href='#' data-toggle="modal" data-target="#exampleModalCenter")
                                    p Zaboravili ste šifru?

                                #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
                                    .modal-dialog.modal-dialog-centered(role='document')
                                        .modal-content
                                            .modal-header
                                                h5#exampleModalLongTitle.modal-title Zaboravljena šifra
                                                button.close(type='button' data-dismiss='modal' aria-label='Close')
                                                    span(aria-hidden='true') ×
                                            .modal-body 
                                                form(action="#" method="POST")
                                                    .form-group
                                                        label(for='email') Unesite email adresu sa kojom ste se logovali
                                                        input#forgottenEmail.form-control.mt-1.mb-1(type='email' name='email' autofocus=true)
                                            .modal-footer
                                                button.btn.btn-secondary(type='button' data-dismiss='modal') Otkaži
                                                button.btn.btn-primary(type='button') Pošalji

                                input(type='hidden', name='_csrf', value=csrfToken)

                                button.btn.btn-info.btn-block.mt-3(type='submit') Pošalji

block footer
    include layouts/fixed_footer.pug