extends layouts/main-layout.pug

block primaryNavBar
    include layouts/primaryNavBarAuth.pug

        block link
            a.nav-link(href='../auth/register') REGISTRACIJA

block content
    section.h-75
        .container.h-100
            .row.h-100
                .col-md-6.m-auto
                    .card
                        .card-header.bg-warning
                            h4
                                i.far.fa-user.mr-2
                                | Prijava
                        .card-body
                            form#authForm(action='/api/v2/auth/login', method='POST', novalidate)
                                .form-group
                                    label(for='email') Email
                                    input#email.form-control.mt-1.mb-1(type='email', name='email', value=oldInput.email, placeholder='example@mail.com', autofocus=true)

                                .form-group
                                    label(for='password') Šifra
                                    input#password.form-control.mt-1.mb-1(type='password', name='password', value=oldInput.password, placeholder='*******')

                                a.text-muted(href='/api/v2/auth/resetpassword')
                                    p Zaboravili ste šifru?
                                //- a.text-muted(href='#' data-toggle="modal" data-target="#exampleModalCenter")
                                //-     p Zaboravili ste šifru?
                                

                                input(type='hidden', name='_csrf', value=csrfToken)

                                button.btn.btn-info.btn-block.mt-3(type='submit' form='authForm') Pošalji


                                //- #exampleModalCenter.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
                                //-     .modal-dialog.modal-dialog-centered(role='document')
                                //-         .modal-content
                                //-             .modal-header.bg-warning
                                //-                 h5.modal-title Zaboravljena šifra
                                //-                 button.close(type='button' data-dismiss='modal' aria-label='Close')
                                //-                     span(aria-hidden='true') ×
                                //-             .modal-body 
                                //-                 form(action="/api/v2/auth/resetpassword" method="POST")#proba
                                //-                     .form-group
                                //-                         label(for='forgottenEmail') Unesite email adresu sa kojom ste se logovali
                                //-                         input#forgottenEmail.form-control.mt-1.mb-1(type='email' autofocus=true form='proba')
                                //-             .modal-footer
                                //-                 button.btn.btn-secondary(type='button' data-dismiss='modal') Otkaži
                                //-                 button.btn.btn-primary(type='submit' form='proba') Pošalji

block footer
    include layouts/fixed_footer.pug